<%= render layout: "session_pages_layout" do %>
  <h1 class="u-text-center">Log In with Email</h1>
  <p class="u-text-center">Log in to save your progress and access your bookmarks, certificates and assignments from any device.</p>
  <%= render partial: "sessions/shared/sign_in_form", locals: { remote: false } %>
<% end %>
