//
// UTILITIES / RESPONSIVE
//-----------------------------------------------------------------------

@mixin utils($breakpoint) {
  .u-#{$breakpoint}-visible {
    display: block !important;
  }
  .u-#{$breakpoint}-hidden {
    display: none !important;
  }
  .u-#{$breakpoint}-visible {
    display: block;
  }
  .u-#{$breakpoint}-text-center {
    text-align: center;
  }
  .u-#{$breakpoint}-text-left {
    text-align: left !important;
  }

  .u-#{$breakpoint}-h2 {
    font-size: $font-size-h2 !important;
  }
  .u-#{$breakpoint}-h3 {
    font-size: $font-size-h3 !important;
  }

  // SPACING
  .u-#{$breakpoint}-mt-0 {
    margin-top: 0;
  }
  .u-#{$breakpoint}-mt-sm {
    margin-top: $space-s;
  }
  .u-#{$breakpoint}-mb-0 {
    margin-bottom: 0;
  }
  .u-#{$breakpoint}-mb-xs {
    margin-bottom: $space-xs;
  }
  .u-#{$breakpoint}-mb-sm {
    margin-bottom: $space-s;
  }
  .u-#{$breakpoint}-mt {
    margin-top: $space-base;
  }
  .u-#{$breakpoint}-mb {
    margin-bottom: $space-base;
  }
  .u-#{$breakpoint}-mt-l {
    margin-top: $space-l;
  }
  .u-#{$breakpoint}-mb-l {
    margin-bottom: $space-l;
  }
  .u-#{$breakpoint}-mb-xl {
    margin-bottom: $space-xl;
  }
  .u-#{$breakpoint}-mt-xs {
    margin-top: $space-xs;
  }
  .u-#{$breakpoint}-mt-xl {
    margin-top: $space-xl;
  }
  .u-#{$breakpoint}-mt-xxl {
    margin-top: $space-xxl;
  }
  .u-#{$breakpoint}-mb-xxl {
    margin-bottom: $space-xxl;
  }
  .u-#{$breakpoint}-mb-xxxl {
    margin-bottom: $space-xxxl;
  }
  .u-#{$breakpoint}-mr {
    margin-right: $space-base;
  }
  .u-#{$breakpoint}-mr-sm {
    margin-right: $space-s;
  }
  .u-#{$breakpoint}-mr-l {
    margin-right: $space-l;
  }
  .u-#{$breakpoint}-ml-xs {
    margin-left: $space-xs;
  }
  .u-#{$breakpoint}-ml-xxs {
    margin-left: $space-xxs;
  }

  // Padding
  .u-#{$breakpoint}-p-sm {
    padding: $space-s;
  }


  // MISC
  .u-#{$breakpoint}-column-reverse {
    flex-direction: column-reverse;
  }
  .u-#{$breakpoint}-full-width {
    width:100%;
  }
  .u-#{$breakpoint}-flex-column {
    flex-direction: column;
  }
  .u-#{$breakpoint}-align-items-start {
    align-items: flex-start;
  }
}

$num-breakpoints: length($grid-breakpoints);

@for $i from 1 through $num-breakpoints {
  $breakpoint: nth($grid-breakpoints, $i);
  $breakpoint-name: nth($breakpoint, 1);

  .u-#{$breakpoint-name}-visible {
    display:none;
  }

  @include media($from: $breakpoint-name) {
    @include utils("#{$breakpoint-name}-up");
  }

  @if $i != $num-breakpoints {
    $next-breakpoint: nth($grid-breakpoints, $i + 1);
    $next-breakpoint-name: nth($next-breakpoint, 1);
    
    @include media($from: $breakpoint-name, $to: $next-breakpoint-name) {
      @include utils($breakpoint-name);
    }
  }
}
