//
// BASE / TYPE
//-----------------------------------------------------------------------

body {
  font-family: $font-sans-serif;
  font-weight: $font-weight-regular;
  line-height: $base-line-height;
  color: $fg-color;
  font-feature-settings: "liga", "kern";
  // -webkit-font-smoothing: antialiased;
  // -moz-osx-font-smoothing: grayscale;

  font-size: $font-size-m;
  @include media($from: sm) {
    font-size: $base-font-size;
  }
}

strong {
  font-weight: $font-weight-medium;
}

// Headings
// -------------------------

h1, h2, h3, h4, h5, h6 {
  font-weight: $font-weight-semibold;
  margin-bottom: $space-base;
  line-height: 1.3;
  a {
    font-weight: inherit;
  }
}

h1, .u-h1 {
  @include heading-resp-h1;
}

.u-h1--small {
  font-size: $font-size-h1--small;
}

h2, .u-h2 {
  @include heading-resp-h2;
}

h3, .u-h3 {
  font-size: $font-size-h3;
}

h4, .u-h4 {
  @include text-resp-m-s;
}


// Paragraphs
// -------------------------

p {

  * + & {
    margin-top: $space-s;
  }
}

// Lobotomized owl selector
// Double fistbump broken nose selector
// Top of may pole selector


// Blockquotes
// -------------------------

blockquote {
  & p:before {
    content: open-quote;
  }
  & p:after {
    content: close-quote;
  }

  font-style: italic;
  font-weight: $font-weight-semibold;

  * + & {
    margin-top: $space-s;
  }
}


// Links
// -------------------------

a {
  display: inline-block;
  text-decoration: none;
  color: $fg-color;
  font-weight: $font-weight-medium;

  &:hover, &:focus {
    text-decoration: none;
    color: $hover-fg;
  }

  &:hover img {
    opacity:.8;
  }
}

.u-text-blue a, a.u-text-blue {
  &:hover {
    color: $hover-blue !important;
  }
}

.u-text-red a, a.u-text-red {
  &:hover {
    color: $hover-red !important;
  }
}

.u-text-muted a, a.u-text-muted {
  &:hover {
    color: $hover-fg-muted !important;
  }
}
