<div class="l-main u-mt-xs" role="main">
  <div class="l-container">
    <div class="l-row">
      <div class="l-col-xs-26 l-col-md-24 l-col-md-offset-1">
        <h1 class="u-mb-xs">Signed in</h1>
        <p class="u-mt-xs u-text-bigger">You are signed in as <%= current_user.email %></p>
      </div>
    </div>

    <div class="l-row">
      <div class="l-col-xs-26 l-col-md-24 l-col-md-offset-1">
        <div class="c-empty-state u-mt-xl">
          <p>There are currently no courses to show</p>
        </div>
      </div>
    </div>
  </div>
</div>
