<div class="l-main">
  <div class="l-container u-mb-l">
    <div class="l-row">
      <div class="l-col-xs-26 l-col-md-24 l-col-md-offset-1">
        <h1>Welcome to Seably</h1>
      </div>
    </div>

    <div class="l-row">
      <div class="l-col-xs-26 l-col-md-24 l-col-md-offset-1">
        <div class="c-empty-state">
          <p>There are currently no courses to show</p>
        </div>
      </div>
    </div>
  </div>

  <div class="l-container u-mb-xxl">
    <div class="l-row">
      <div class="l-col-xs-26 l-col-sm-16 l-col-md-10 l-col-md-offset-1">
        <div class="c-business-info">
          <div class="c-business-info__overlay"></div>
          <div class="c-business-info__content-wrapper">
            <h2 class="u-h1--small u-mb-s">The All-In-One Training Platform for Shipping Companies</h2>
            <p class="u-mb">Subscribe to Seably for Business and give your employees unlimited access to all courses.<span class="u-xs-hidden"> Build your own company-specific training, administrate employees and track training progress, with Seably for Business.</span></p>
            <%= link_to "Learn More", "#", class: "btn btn--primary" %>
            <p class="">Starting at $4 per employee/month</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
