<div class="c-select <%= auto_width ? '' : 'c-select--full-width' %>"
     data-controller="select-box" >
  <%= label_tag nil, nil, class: "c-select__value", data: { target: "select-box.valueDisplay" } %>
  <%= select %>
</div>