//
// LAYOUT / GRID
//-----------------------------------------------------------------------

.l-container {
  max-width: $max-width;
  margin-right: auto;
  margin-left: auto;
  padding-left: $gutter-xs;
  padding-right: $gutter-xs;

  @include media($from: sm) {
    padding-left: $gutter;
    padding-right: $gutter;
  }

  &--divider {
    border-top:1px solid $border-standard;
  }
}

.l-row {
  display: flex;
  flex: 0 1 auto;
  flex-wrap: wrap;

  margin-left: -$gutter-xs / 2;
  margin-right: -$gutter-xs / 2;

  @include media($from: sm) {
    margin-right: -$gutter / 2;
    margin-left: -$gutter / 2;
  }
}

#{$column-prefix}-xs {
  flex: 0 0 auto;
  padding-right: $gutter-xs / 2;
  padding-left: $gutter-xs / 2;
}

@for $i from 1 through $total-columns {
  #{$column-prefix}-xs-#{$i} {
    @extend #{$column-prefix}-xs;
    flex-basis: $i / $total-columns * 100%;
    max-width: $i / $total-columns * 100%;
  }
}

@for $i from 0 through $total-columns {
  #{$column-prefix}-xs-offset-#{$i} {
    @extend #{$column-prefix}-xs;
    margin-left: $i / $total-columns * 100%;
  }
}

.l-row--start-xs {
  justify-content: flex-start;
}

.l-row--center-xs {
  justify-content: center;
}

.l-row--end-xs {
  justify-content: flex-end;
}

.l-row--top-xs {
  align-items: flex-start;
}

.l-row--middle-xs {
  align-items: center;
}

.l-row--bottom-xs {
  align-items: flex-end;
}

.l-row--around-xs {
  justify-content: space-around;
}

.l-row--between-xs {
  justify-content: space-between;
}

@include media($from: sm) {
  #{$column-prefix}-sm {
    flex: 0 0 auto;
    padding-right: $gutter / 2;
    padding-left: $gutter / 2;
  }

  @for $i from 1 through $total-columns {
    #{$column-prefix}-sm-#{$i} {
      @extend #{$column-prefix}-sm;
      flex-basis: $i / $total-columns * 100%;
      max-width: $i / $total-columns * 100%;
    }
  }

  @for $i from 0 through $total-columns {
    #{$column-prefix}-sm-offset-#{$i} {
      @extend #{$column-prefix}-sm;
      margin-left: $i / $total-columns * 100%;
    }
  }

  .l-row--start-sm {
    justify-content: flex-start;
  }

  .l-row--center-sm {
    justify-content: center;
  }

  .l-row--end-sm {
    justify-content: flex-end;
  }

  .l-row--top-sm {
    align-items: flex-start;
  }

  .l-row--middle-sm {
    align-items: center;
  }

  .l-row--bottom-sm {
    align-items: flex-end;
  }

  .l-row--around-sm {
    justify-content: space-around;
  }

  .l-row--between-sm {
    justify-content: space-between;
  }

  .l-col-sm-spread {
    width: auto;
    flex: 1;
  }
}

@include media($from: md) {
  #{$column-prefix}-md {
    flex: 0 0 auto;
    padding-right: $gutter / 2;
    padding-left: $gutter / 2;
  }

  @for $i from 1 through $total-columns {
    #{$column-prefix}-md-#{$i} {
      @extend #{$column-prefix}-md;
      flex-basis: $i / $total-columns * 100%;
      max-width: $i / $total-columns * 100%;
    }
  }

  @for $i from 0 through $total-columns {
    #{$column-prefix}-md-offset-#{$i} {
      @extend #{$column-prefix}-md;
      margin-left: $i / $total-columns * 100%;
    }
  }

  .l-row--start-md {
    justify-content: flex-start;
  }

  .l-row--center-md {
    justify-content: center;
  }

  .l-row--end-md {
    justify-content: flex-end;
  }

  .l-row--top-md {
    align-items: flex-start;
  }

  .l-row--middle-md {
    align-items: center;
  }

  .l-row--bottom-md {
    align-items: flex-end;
  }

  .l-row--around-md {
    justify-content: space-around;
  }

  .l-row--between-md {
    justify-content: space-between;
  }
}

@include media($from: lg) {
  #{$column-prefix}-lg {
    flex: 0 0 auto;
    padding-right: $gutter / 2;
    padding-left: $gutter / 2;
  }

  @for $i from 1 through $total-columns {
    #{$column-prefix}-lg-#{$i} {
      @extend #{$column-prefix}-lg;
      flex-basis: $i / $total-columns * 100%;
      max-width: $i / $total-columns * 100%;
    }
  }

  @for $i from 0 through $total-columns {
    #{$column-prefix}-lg-offset-#{$i} {
      @extend #{$column-prefix}-lg;
      margin-left: $i / $total-columns * 100%;
    }
  }

  .l-row--start-lg {
    justify-content: flex-start;
  }

  .l-row--center-lg {
    justify-content: center;
  }

  .l-row--end-lg {
    justify-content: flex-end;
  }

  .l-row--top-lg {
    align-items: flex-start;
  }

  .l-row--middle-lg {
    align-items: center;
  }

  .l-row--bottom-lg {
    align-items: flex-end;
  }

  .l-row--around-lg {
    justify-content: space-around;
  }

  .l-row--between-lg {
    justify-content: space-between;
  }
}
