//
// SETUP / ANIMATIONS
//-----------------------------------------------------------------------

.animated {
  animation-fill-mode: both;
  backface-visibility: visible;
}

.animation--fade-in-down {
  animation-fill-mode: both;
  backface-visibility: visible;
  animation: fade-in-down .24s;
}

.animation--fade-in-up {
  animation-fill-mode: both;
  backface-visibility: visible;
  animation: fade-in-up .24s;
}

.animation--fade-in-up-small {
  animation-fill-mode: both;
  backface-visibility: visible;
  animation: fade-in-up-small .24s;
}

.animation--fade {
  animation-fill-mode: both;
  backface-visibility: visible;
  animation: fade .24s;
}

.animation--dot-loader:after {
  text-align:left;
  display: inline-block;
  animation: dot-loader steps(1, end) 2s infinite;
  content: '';
  width:20px;
}

@keyframes dot-loader {
  0%   { content: ''; }
  25%  { content: '.'; }
  50%  { content: '..'; }
  75%  { content: '...'; }
  100% { content: ''; }
}

@keyframes fade-in-down {

  from {
    transform: translateY(-50px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-in-up {

  from {
    transform: translateY(50px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-in-up-small {

  from {
    transform: translateY(10px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade {

  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-15px);
  }
}

@keyframes pulse-red {
  0% {
    box-shadow: 0 0 0 0 rgba($red-standard, 0.7);
  }
  70% {
    box-shadow: 0 0 0 6px rgba($red-standard, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba($red-standard, 0);
  }
}

@keyframes fade-in-out {
  0% { opacity: 0; }
  10% { opacity: 1; }
  90% { opacity: 1; }
  100% {opacity: 0; }
}
