<div class="l-main l-main--padded">
  <div class="l-container">
    <div class="l-row l-row--center-xs">
      <div class="l-col-xs-26 l-col-sm-14 l-col-md-12 l-col-lg-10">
        <%= yield %>
      </div>
    </div>
  </div>
</div>
